body {
    background: #fff;
    color: #000;
    font-family: 'Open Sans', 'Arial', sans-serif;
}

/* This is a comment */

/*
 * This is another
 * comment on several lines
 */

.display-block {
    display: block;
}

#item {
    border: 1px solid #eee;
}

input.form-element {
    padding: 5px;
}

body input.form-element {
    padding: 5px;
}
